@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'home';
@import 'session';
@import 'user';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$h1-font: 'Bree Serif', serif;
$blog-font: 'Raleway', sans-serif;
$font-color: #333333;
$purple: #445291;

.navbar {
  background-color: #fff;
  height: 82px;
}
.main-header {
  align-items: center;
  text-align: center;
  height: 50px;
  background-color: $purple;
}
.container-fluid {
  max-height: 100%;
  padding: 5px;
}
.navbar-right {
  height: 70px;
  a {
    line-height: 72px;
  }
  .btn {
    line-height: 20px;
  }
}
h1 {
  font-family: $h1-font;
}
h3 {
  font-family: $blog-font;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: $font-color;
}
.lead {
  font-family: $blog-font;
  font-size: 20px;
}
p {
  font-family: $blog-font;
  font-size: 14px;
}
.form-group {
  font-family: $blog-font;
}
.btn {
  font-family: $blog-font;
}
.container {
  min-width: 95%;
}
.container-fluid {
  max-width: 95%;
  min-width: 95%;
}
.thumbnail {
  padding: 10px;
}
