@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'opentype';
@import 'home';
@import 'session';
@import 'user';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$h1-font: 'Bree Serif', serif;
$blog-font: 'Raleway', sans-serif;
$font-color: #333333;
$purple: #445291;

.body {
  font-family: $blog-font;
}
.main-header {
  align-items: center;
  text-align: center;
  height: 50px;
  background-color: $purple;
  color: #fff;
  font-weight: lighter;
  font-size: 18px;
  font-feature-settings: "liga", "kern", "dlig";
}
.post-heading {
  color: $purple;
  text-decoration: none;
  font-size: 16px;
  font-feature-settings: "liga", "kern", "dlig";
}
h1 {
  font-family: $h1-font;
}
h3 {
  font-family: $blog-font;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: $font-color;
}
.lead {
  font-family: $blog-font;
  font-size: 20px;
}
p {
  font-family: $blog-font;
  font-size: 14px;
}
.form-group {
  font-family: $blog-font;
}
.btn {
  font-family: $blog-font;
}
.container {
  min-width: 95%;
  justify-content: center;
  padding: 5px;
}
.container-fluid {
  max-width: 95%;
  min-width: 95%;
}
.thumbnail {
  padding: 20px;
  margin: 20px auto;
}
.col-md-9 {
  .thumbnail {
    max-width: 850px;
  }
}
.col-md-3 {
  .thumnail {
    max-width: 300px;
  }
}
.post-heading {
  i {
    font-size: 16px;
  }
}
.post-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  i {
    font-size: 20px;
  }
}
.nav-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  padding-top: 10px;
}
